a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.a {
  height: 50px;
}
.active {
  color: red;
}
